<form role="form" data-ng-submit="user.save(user.selected)" data-ng-show="user.selected">
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<div class="form-group">
				<label for="">Домен</label>
				<select name="domain" data-ng-model="user.selected.domain" class="form-control">
					<option value="ugsk">UGSK</option>
					<option value="partner">PARTNER</option>
				</select>
			</div>
			<div class="form-group" data-ng-class="{'has-error':!user.selected.login, 'has-success':user.selected.login}">
				<label for="login">Логин</label>
				<input id="login" type="text" class="form-control" placeholder="PetrovAA" data-ng-model="user.selected.login" required="required" >
			</div>
			<div class="form-group" data-ng-class="{'has-error':!user.selected.name, 'has-success':user.selected.name}">
				<label for="name">ФИО</label>
				<input id="name" type="text" class="form-control" placeholder="Антонов Юрий Антонович" data-ng-model="user.selected.name" required="required">
			</div>
			<div class="form-group" >
				<label for="role">Роль</label>
				<select name="role" id="role" class="form-control" required="required" data-ng-model="user.selected.role" data-ng-options="role.name for role in user.roles" >
				</select>
			</div>
			<div class="form-group">
				<label for="filial">Филиал</label>
				<select name="filial" id="filial" class="form-control" required="required" data-ng-model="user.selected.filial" data-ng-options="filial.id as filial.name for filial in user.filials" >>
				</select>
			</div>
			<div class="form-group">
				<label for="saleChannel">Канал продаж</label>
				<select name="saleChannel" id="saleChannel" class="form-control" required="required" data-ng-model="user.selected.saleChannel" data-ng-options="saleChannel.name for saleChannel in user.saleChannels">

				</select>
			</div>
			<div class="form-group">
				<label for="intermediate">Посредник</label>
				<select name="intermediate" id="intermediate" class="form-control" required="required" data-ng-model="user.selected.intermediate" data-ng-options="intermediate.name for intermediate in user.intermediates">

				</select>
			</div>
			<div class="form-group">
				<label for="pos">Точка продаж</label>
				<select name="pos" id="pos" class="form-control" required="required" data-ng-model="user.selected.pos" data-ng-model="user.selected.pos" data-ng-options="pos.name for pos in user.poses track by user.selected.pos" required="required">

				</select>
			</div>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<div class="form-group" data-ng-class="{'has-error':!user.selected.partnerFactor, 'has-success':user.selected.partnerFactor}">
				<label for="parnetFactor">Коэффициент партнёра</label>
				<input id="parnetFactor" type="number" step="0.0001" min="0" max="5" class="form-control" placeholder="0.0" data-ng-model="user.selected.partnerFactor" required="required">
			</div>
			<div class="form-group">
				<label for="document">Доверенность</label>
				<input id="document" type="text" class="form-control" placeholder="Доверенность № 0000" data-ng-model="user.selected.document">
			</div>
			<div class="form-group" data-ng-class="{'has-error':!user.selected.documentDate, 'has-success':user.selected.documentDate}">
				<label for="documentDate">Дата доверенности</label>
				<input id="documentDate" type="date" class="form-control" placeholder="01.01.2015" data-ng-model="user.selected.documentDate">
			</div>
			<div class="form-group" data-ng-class="{'has-error':!user.selected.lossAdjustmentFactor, 'has-success':user.selected.lossAdjustmentFactor}">
				<label for="lossAdjustmentFactor">К тип урегулир.</label>
				<input id="lossAdjustmentFactor" type="number" class="form-control" placeholder="1.0" step="0.0001" min="0" data-ng-model="user.selected.lossAdjustmentFactor" required="required">
			</div>
			<div class="form-group" data-ng-class="{'has-error':!user.selected.guid, 'has-success':user.selected.guid}">
				<label for="guid">GUID</label>
				<input id="guid" type="text" required class="form-control" placeholder="00000000-0000-0000-0000-000000000000" pattern="[A-Za-z0-9]{8}-[A-Za-z0-9]{4}-[A-Za-z0-9]{4}-[A-Za-z0-9]{4}-[A-Za-z0-9]{12}" data-ng-model="user.selected.guid" required="required">
			</div>
			<div class="form-group">
				<label for="acquisition"><abbr title="Комисионное вознаграждение">КВ</abbr></label>
				<input id="acquisition" type="number" min="0" max="30" step="1" class="form-control" placeholder="25" data-ng-model="user.selected.acquisition">
			</div>
			<span class="label label-success" data-ng-show="user.selected.created">Создан {{user.selected.created | date: "dd.MM.yyyy"}}</span>
			<span class="label label-success" data-ng-show="user.selected.updated">Изменён {{user.selected.updated | date: "dd.MM.yyyy"}}</span>
		</div>
	</div>
	<button type="submit" class="btn btn-primary pull-right">Сохранить</button>
</form>
